@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
https://pay.stripe.com/invoice/acct_1NidDPFVudyrRA8l/test_YWNjdF8xTmlkRFBGVnVkeXJSQThsLF9PWVNIckJ3aWhPSHNlcHEySURHZmpMTGxFc1c4WUxvLDg0MDY5NDk00200SkKMtu5b/pdf?s=ap